<div class="container">
  <div class="row">
    <h1 class="col-sm-6">
      Vocab List
    </h1>
    <div class="col-sm-6 text-right">
      <div class="btn btn-primary addbtn" ng-click="v.add()">Add Vocab</div>
    </div>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <th>Show</th>
      <th>Word (EN)</th>
      <th>Translate (TH)</th>
      <th>Description</th>
      <th>Tag</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr ng-repeat="vocab in v.vocablist track by $index">
        <td class="text-center" style="width: 60px;"><input type="checkbox" ng-model="vocab.show"></td>
        <td>{{vocab.word}}</td>
        <td>{{vocab.translate}}</td>
        <td>{{vocab.description}}</td>
        <td>{{vocab.tag}}</td>
        <td width="120">
          <button class="btn btn-xs btn-primary" ng-click="v.edit($index)">EDIT</button>
          <button class="btn btn-xs btn-danger" ng-click="v.delete($index)" confirm="Delete Word: {{vocab.word}}?">DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
