<div class="container">
  <div class="row">
    <h1 class="col-sm-6">
      Vocab List
    </h1>
    <div class="col-sm-6 text-right">
      <div class="btn btn-primary addbtn" ng-click="v.add()">Add Vocab</div>
    </div>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <th>Select</th>
      <th>Word (EN)</th>
      <th>Translate (TH)</th>
      <th>Description</th>
      <th>Tag</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr ng-repeat="vocab in v.vocablist">
        <td>input</td>
        <td>{{vocab.word}}</td>
        <td>แมว</td>
        <td>น่ารัก</td>
        <td>เมี้ยวๆ</td>
        <td>
          	<div class="btn btn-xs btn-primary" ng-click="v.edit(vocab.index)">EDIT</div>
            <div class="btn btn-xs btn-danger" ng-click="v.delete(vocab.index)" confirm="Delete Word: {{vocab.word}}?">DELETE</div>	
        </td>  
      </tr>
    </tbody>
  </table>
</div>
