<div class="modal-header">
    <h3 class="modal-title">Vocab</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>Word</label>
        <input type="text" class="form-control" placeholder="English" ng-model="vocab.word">
    </div>
    <div class="form-group">
        <label>Translate</label>
        <input type="text" class="form-control" placeholder="Thai" ng-model="vocab.translate">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="vocab.description" placeholder="Flashcards are very good things for improve your life."></textarea>
    </div>
    <div class="form-group">
        <label>Tag</label>
        <input type="text" class="form-control" placeholder="Animal, Computer, Fruit, ..." ng-model="vocab.tag">
    </div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>